.boxSize {

    overflow: hidden;
    width: 33.3%;
    height: 33.3%;
    border: 1px solid black;
}
h1{
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    font-size: 250%;
    left: 600px;
}

input {
    position: relative;
    left: 98px;
}

#btn-shuffle{
    position: absolute;
    left: 97px;
}

small{
    position: absolute;
    top: 72px;
    left: 35px;
}

#solve-btn {
    top: 95px;
    /* background-color: #de5151; */
    position: absolute;
    left: 96px;
}

#steps-btn{
    position: absolute;
    top: 135px;
    left: 84px;
}

img {

    position: absolute;
    width: 300%;
    height: 300%;
}

.topRowImages {

    top: 0%;
}

.middileRowImages {

    top: -100%;
}

.bottomRowImages {
    top: -200%;

}

.firstColImages {

    left: 0%;
}

.secondColImages {

    left: -100%;
}

.thirdColImages {

    left: -200%;
}

.box1 {
    position: absolute;
    top: 0%;
    left: 0%;
    transition-duration: 0.5s;
}

.box2 {
    position: absolute;
    top: 0%;
    left: 33.3%;
    transition-duration: 0.5s;
}

.box3 {
    position: absolute;
    top: 0%;
    left: 66.6%;
    transition-duration: 0.5s;
}

.box4 {
    position: absolute;
    top: 33.3%;
    left: 0%;
    transition-duration: 0.5s;
}

.box5 {
    position: absolute;
    top: 33.3%;
    left: 33.3%;
    transition-duration: 0.5s;
}

.box6 {
    position: absolute;
    top: 33.3%;
    left: 66.6%;
    transition-duration: 0.5s;


}

.box7 {
    position: absolute;
    top: 66.6%;
    left: 0%;
    transition-duration: 0.5s;
}

.box8 {
    position: absolute;
    top: 66.6%;
    left: 33.3%;
    transition-duration: 0.5s;
}

.box9 {
    position: absolute;
    top: 66.6%;
    left: 66.6%;
    transition-duration: 0.5s;
}

#EmptyImage {
    width: 0;
    height: 0;
    opacity: 0.8;
    background: black;

}

#img9 {

    /* border: none; */
    opacity: 0.2;
}

/* #img10 {
    z-index: -1;
    background: black;
}
#img10>img {
    opacity: 0.3;
} */

#wrapper {
    background: #000;;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    left: 0;
    top: 0;
    background-size: cover;
    z-index: -2;
}

label {
    color: white;
}

.rdBtn {
    position: absolute;
    top: 58%;
    left: 42%;
}


#txtPS{
    font-weight: bold;text-align: center;position: absolute;left :64%;top: 15%; width: 30%;height: 56%;padding:2%;
}
#board{
    width: 35%;height:70%;position: absolute;top:15%;left: 5%;
}
#boardImage{
    width:20% ; height: 40%;left: 42%;top:15%; position: absolute;border: medium solid black
}
@media only screen and (max-width: 980px) {
    #txtPS{
    left :5%;top: 67%; width: 77%;height: 30%;
}
#board{
    width: 50%;height:55%;position: absolute;top:10%;left: 4%;
}
#boardImage{
    width:40% ; height: 40%;left: 56%;top:10%; position: absolute;border: medium solid black
}
.rdBtn {
    
    top: 51%;
    left: 56%;
}
}